@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

.container {
  padding: 50px;
}

h1 {
  font-weight: 400;
}

p {
  margin-top: 10px;
}

#guess_input {
  width: 200px;
  margin-top: 30px;
  padding: 5px;
  outline: none;
}

#guess_btn {
  padding: 5px;
}
